<ion-app>
  <ion-menu type="overlay" side="start" menuId="first" contentId="main">

    <ion-header>
      <ion-toolbar color="warning">
        <ion-title>Opciones de Juego</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <ion-list>
          <ion-item color="primary" [routerLink]="['./home']"><ion-icon name="home-outline"></ion-icon>-HOME-</ion-item>
          <ion-item color=""> TAMAÑO DEL TABLERO<ion-icon name="arrow-down-outline"></ion-icon></ion-item>
          <ion-item color=""></ion-item>
          <ion-item color="success"  [routerLink]="['./menu-facil']"><ion-icon name="tablet-portrait-outline"></ion-icon>TABLERO 3X4 <ion-icon name="arrow-forward-outline"></ion-icon></ion-item>
          <ion-item color="warning" [routerLink]="['./menu-intermedio']"><ion-icon name="tablet-portrait-outline"></ion-icon>TABLERO 4X4<ion-icon name="arrow-forward-outline"></ion-icon></ion-item>
          <ion-item color="danger" [routerLink]="['./menu-dificil']"><ion-icon name="tablet-portrait-outline"></ion-icon>TABLERO 5X4<ion-icon name="arrow-forward-outline"></ion-icon></ion-item>
        </ion-list>
      </ion-menu-toggle>
      
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
