<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>  
    </ion-buttons>
    <ion-title>TABLERO 4X3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color ="success"  routerLink="/modo-facil-animales" routerDirection="forward">
    <ion-label>
      ANIMALES
    </ion-label>
  </ion-item>
  <ion-item color ="danger"  routerLink="/comida-facil" routerDirection="forward">
    <ion-label>
     COMIDA
    </ion-label>
  </ion-item>
  <ion-item color ="medium"  routerLink="/hardware-facil" routerDirection="forward">
    <ion-label>
      HARDWARE
    </ion-label>
  </ion-item>
  <ion-item color ="warning"  routerLink="/medicina-facil" routerDirection="forward">
    <ion-label>
      INSTRUMENTOS MEDICOS
    </ion-label>
  </ion-item>
  <ion-item color="tertiary"  routerLink="/banderas-facil" routerDirection="forward">
    <ion-label>
      BANDERAS DEL MUNDO
    </ion-label>
  </ion-item>
</ion-content>
