<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="openMenu()" autoHide="false"></ion-menu-button>  
    </ion-buttons>
    <ion-title>
    JUEGO DE MEMORIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="warning">
    Integrantes Grupo
  </ion-item>
  <ion-card color="primary">
    <ion-card-content >
      HENRY DAVID ROSERO
    </ion-card-content>
  </ion-card>
  <ion-card color="primary">
    <ion-card-content>
      DANILO ESTIVEN MORA DUARTE
    </ion-card-content>
  </ion-card>
  <ion-card color="primary">
    <ion-card-content>
      MAICOL LIBARDO JOSA
    </ion-card-content>
  </ion-card>
</ion-content>
