<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>  
    </ion-buttons>
    <ion-title>TABLERO 4X4</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-col>
      <div class="ion-text-center">
          <h3>ELIGE UNA CATEGORIA</h3>
      </div>
  </ion-col>
  <div align="center">
      <ion-grid>
          <ion-row>
              <ion-col>
                  <ion-button class="mio_boton" color="light" routerLink="/modo-intermedio-animales" routerDirection="forward">
                      <img src="assets/img/leon.png" class="mio_img" alt="">
                      <ion-col></ion-col>ANIMALES
                  </ion-button>
              </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                  <ion-button class="mio_boton" color="light" routerLink="/comida-intermedio" routerDirection="forward">
                      <img src="assets/img/comida-rapida.png" class="mio_img" alt="">
                      <ion-col></ion-col>COMIDA
                  </ion-button>
              </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                  <ion-button class="mio_boton" color="light" routerLink="/hardware-intermedio" routerDirection="forward">
                      <img src="assets/img/hardware.png" class="mio_img" alt="">
                      <ion-col></ion-col>HADWARE
                  </ion-button>
              </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                  <ion-button class="mio_boton" color="light" routerLink="/medicina-intermedio" routerDirection="forward">
                      <img src="assets/img/salud.png" class="mio_img" alt="">
                      <ion-col></ion-col>MEDICINA
                  </ion-button>
              </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                  <ion-button class="mio_boton" color="light" routerLink="/banderas-intermedio" routerDirection="forward">
                      <img src="assets/img/bandera.png" class="mio_img" alt="">
                      <ion-col></ion-col>BANDERAS
                  </ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
  </div>
</ion-content>
